.popoverDropdown {
  overflow-y: scroll;
  max-height: 50vh;
}

.checkboxRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.checkboxLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkboxLabelWrapper {
  overflow: hidden;
}

.dragHandle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
}
